
<div class="row">

  <div class="medium-5 medium-centered login-block columns">
    <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider), class: provider do %>
          <%= image_tag 'facebook.jpg',size: '50x50' %>
          Conecte usando o <%= provider.to_s.titleize %> 
        <% end %>
      <% end -%>
    <% end -%>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% if alert or notice %><span class="error"><%= alert || notice %></span><% end %>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>

        <%= f.label :password, "Senha" %>
        <%= f.password_field :password, autocomplete: "off" %>

      <%= f.submit "Entrar", class: [:button, :login] %>
    <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>  
