
<div class="row">

  <div class="medium-5 medium-centered login-block columns">

    <strong>  Para validar os seus votos, faça login com o Facebook ou informe seu nome e e-mail.  </strong>
 <!--   <%- if devise_mapping.omniauthable? %>
      <%- resource_class.omniauth_providers.each do |provider| %>
        <%= link_to omniauth_authorize_path(resource_name, provider), class: provider do %>
          <%= image_tag 'facebook.jpg',size: '50x50' %>
          Conecte usando o <%= provider.to_s.titleize %> 
        <% end %>
      <% end -%>
    <% end -%>-->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <%= f.label :first_name, 'Nome' %>
        <%= f.text_field :first_name, autofocus: true %>

        <%= f.label :last_name, 'Sobrenome' %>
        <%= f.text_field :last_name %>





        <%= f.label :email %>
        <%= f.email_field :email %>
        <%# f.label :password, "Senha" %>
        <%# f.password_field :password, autocomplete: "off" %>
      <%= f.submit "Entrar", class: [:button, :login] %>
    <% end %>

  <%= render "devise/shared/links" %>
  </div>
</div>  
