<%= content_for :title, "Propostas em votação" %>

<div class="row" data-equalizer>
  <div class="medium-6 medium-centered columns">
    <br/>
    <br/>
    <p class="text-center" style="font-size: .9em">
    Abaixo, você confere a lista de candidatos e candidatas ao Conselho da Juventude da Cidade por <strong>ordem alfabética</strong>. 
    <br/>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <table width="100%">
      <thead>
        <th> ? </th>
        <th>Nome completo</th>
        <th>Perfil</th>
        <th>Idade</th>
        <th>AP</th>
        <th>Recebidos</th>
        <th>Anulados</th>
        <th>Válidos</th>
      </thead>

      <tbody>
        <% @proposals.each_with_index do |proposal, index| %>
          <tr>
            <td> <%= ((proposal.users.count - proposal.users.where(checked: false).count) < proposal.users.count/2) ? raw('<span style="color: red">X</span>') : raw('<span style="color: green">V</span>') %> </td>
            <td><%= link_to proposal.fullname.camelize, proposal %></td>
            <td><%= link_to "Facebook", proposal.facebook %></td>
            <td><%= proposal.age %></td>
            <td><%= proposal.zone %></td>
            <td><span style="color: #999"><%= proposal.users.count %></span></td>
            <td><span style="color: #999"><%= proposal.users.where(checked: false).count %></span></td>
            <td><strong><%= (proposal.users.count - proposal.users.where(checked: false).count) %></strong></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>



<br/><br/><br/>
<br/><br/><br/>

