<%= content_for :title, "Propostas em votação" %>

<div class="row" data-equalizer>
  <div class="medium-12 columns">
    <br/>
    <h2 class="francois text-uppercase main-title text-center">Projetos em votação</h2>
    <p class="text-center">Vote nas 10 propostas de mobilidade que você quer ver na cidade!</p>
  </div>
</div>

<% @proposals.in_groups_of(3, false) do |group| %> 
  <div class="row proposals" data-equalizer>
    <% group.each do |proposal| %>
      <div class="medium-4 columns proposal-wrapper end" data-equalizer-watch>

        <div class="proposal" data-id="<%= proposal.id %>">
          <div class="deselect">
            <a class="select-proposal-undo" data-id="<%= proposal.id %>"><%= image_tag 'undo.png', size: '20x20'%> Desfazer seleção</a>
          </div>
          <div class="image">
            <%= link_to image_tag(proposal.image), proposal %>
            <h5 class="francois"><%= link_to proposal.title, proposal %></h5>
          </div>
          <p class="desc"><%= link_to proposal.description, proposal %></p>
          <div class="actions">
            <%= link_to "Ver mais", proposal_path(proposal), class: 'see-more' %>
            <%= link_to "Selecionar", proposal_path(proposal), class: 'select-proposal', data: { id: proposal.id } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %> 
<br/><br/><br/>
<br/><br/><br/>


<div class="fixed-save">
  <div class="row">
    <div class="medium-4 small-4 end columns">
      <a href="#" class="button clean-selection hide-for-small-only">Limpar votos</a>
      <a href="#" class="button clean-selection show-for-small-only">Limpar</a>
    </div>
    <div class="medium-4 small-3 columns end counter text-center">
      <span class="selected-count">0</span>  de <span> 10</span>
    </div>
    <div class="medium-4 small-5 columns end text-right">
      <%= form_for :proposals_users, html: { id: 'proposalForm' }, url: save_path, method: :post do |f| %>
        <span class="inputs"></span> 
        <%= f.button 'Finalizar e salvar votos', class: [:button, :submit, 'hide-for-small-only'] %>
        <%= f.button 'Finalizar', class: [:button, :submit, 'show-for-small-only'] %>
      <% end %>
    </div>
  </div>
</div>



<div class="fixed-msg hide">
  <div class="row">
    <div class="medium-6 fixed-block text-center medium-centered columns">
      <h3 class="francois">Você votou em apenas <span class="selected-count">0</span> projetos. Você ainda pode votar em mais <span class="left-counter">10</span>.</h3> 
      <br/>
      <h5 class="francois">Deseja concluir mesmo assim? </h5>
      <p>
        <br/>
        <a href="#" class="close button">Voltar</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="save button">Continuar</a>
      </p>
    </div>
  </div>
</div>


