<%= content_for :title, "Propostas em votação" %>

<div class="row" data-equalizer>
  <div class="medium-6 medium-centered columns">
    <br/>
    <br/>
    <p class="text-center" style="font-size: .9em">
    Abaixo, você confere a lista de candidatos e candidatas ao Conselho da Juventude da Cidade por <strong>ordem alfabética</strong>. 
    <br/>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <table width="100%">
      <thead>
        <th>Nome completo</th>
        <th>Votos válidos</th>
        <th>Votos recebidos</th>
        <th>Votos anulados</th>
      </thead>

      <tbody>
        <% @proposals.each_with_index do |proposal, index| %>
          <tr>
            <td><%= link_to proposal.fullname.camelize, proposal %></td>
            <td><%= proposal.users.count %></td>
            <td><%= proposal.users.count %></td>
            <td><%= proposal.users.count %></td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>



<br/><br/><br/>
<br/><br/><br/>

