<%= content_for :title, "Ideias" %>

<div class="row proposals">

  <% @proposals.each do |proposal| %> 

    <div class="medium-3 columns end">
      <div class="proposal">
        <div class="image"><%= image_tag proposal.image_url %></div>
        <h5><%= proposal.title %></h5>
        <p><%= truncate(proposal.description, length: 160) %></p>
        <%= link_to "Ver mais", proposal_path(proposal) %>
      </div>
    </div>

  <% end %> 

</div>
