<%= content_for :title, "Propostas em votação" %>

<div class="row" data-equalizer>
  <div class="medium-8 medium-centered columns">
    <br/>
    <br/>
    <p class="text-center" style="font-size: .9em">
    Abaixo, você conhece alguns dos candidatos e candidatas ao Conselho da Juventude da Cidade e suas propostas. A apresentação destes quadros é aleatória, para dar condições iguais a todos. A cada novo clique, outras propostas aparecem. Você não precisa mandar todos os seus votos de uma vez só, mas você só pode votar uma vez em cada proposta! 
    <br/>
  </div>
</div>

<% @proposals.in_groups_of(3, false) do |group| %> 
  <div class="row proposals" data-equalizer>
    <% group.each do |proposal| %>
      <div class="medium-4 columns proposal-wrapper end" data-equalizer-watch>

        <div class="proposal" data-id="<%= proposal.id %>">
          <div style="float: right; color: #ccc; right: 5%; border: 1px solid #eee; border-radius: 50px; padding: .4em .8em">
            <%= proposal.users.count %>
          </div>
          <div class="deselect">
            <a class="select-proposal-undo" data-id="<%= proposal.id %>"><%= image_tag 'undo.png', size: '20x20'%> Desfazer seleção</a>
          </div>
          <div class="image">
            <h5><%= image_tag "quotes.png" %> <%= link_to proposal.title.camelize, proposal %></h5>

            <div class="text-center about-proposal"><%= proposal.fullname.split(' ')[0].camelize %> &nbsp;|&nbsp; <%= proposal.age %> &nbsp;| &nbsp; <%= proposal.ap_zone %> </div>
            <br/>
            <br/>
          </div>
          <!--<p class="desc"><%= link_to proposal.description, proposal %></p>-->
          <div class="actions">
            <%= link_to "Escolher esta proposta", proposal_path(proposal), class: 'select-proposal', data: { id: proposal.id } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %> 
<br/><br/><br/>
<br/><br/><br/>


<div class="fixed-save">
  <div class="row">
    <div class="medium-4 small-4 end columns">
      <a href="#" class="button clean-selection hide-for-small-only">Limpar votos</a>
      <a href="#" class="button clean-selection show-for-small-only">Limpar</a>
    </div>
    <div class="medium-4 small-3 columns end counter text-center">
      <span class="selected-count">0</span>  de <span> 100</span>
    </div>
    <div class="medium-4 small-5 columns end text-right">
      <%= form_for :proposals_users, html: { id: 'proposalForm' }, url: save_path, method: :post do |f| %>
        <span class="inputs"></span> 
        <%= f.button 'Finalizar e salvar votos', class: [:button, :submit, 'hide-for-small-only'] %>
        <%= f.button 'Finalizar', class: [:button, :submit, 'show-for-small-only'] %>
      <% end %>
    </div>
  </div>
</div>



<div class="fixed-msg hide">
  <div class="row">
    <div class="medium-6 fixed-block text-center medium-centered columns">
      <h3 class="francois">Você votou em apenas <span class="selected-count">0</span> propostas.</h3> 
      <br/>
      <h5 class="francois">Deseja concluir mesmo assim? </h5>
      <p>
        <br/>
        <a href="#" class="close button">Voltar</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="#" class="save button">Continuar</a>
      </p>
    </div>
  </div>
</div>


