<%= content_for :title, "Propostas em votação" %>

<div class="row" data-equalizer>
  <div class="medium-12 columns">
    <h2 class="francois text-uppercase text-center">Propostas em votação</h2>
  </div>
</div>

<% @proposals.in_groups_of(3, false) do |group| %> 
  <div class="row proposals" data-equalizer>
    <% group.each do |proposal| %>
      <div class="medium-4 columns proposal-wrapper end" data-equalizer-watch>
        <div class="proposal">
          <div class="image">
            <%= image_tag proposal.image %>
            <h5 class="francois"><%= proposal.title %></h5>
          </div>
          <p><%= truncate(proposal.description, length: 160) %></p>
          <div class="actions">
            <%= link_to "Ver mais", proposal_path(proposal), class: 'see-more' %>
            <%= link_to "Selecionar proposta", proposal_path(proposal), class: 'select-proposal' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %> 

