<%= content_for :title, "Propostas em votação" %>

<div class="row" data-equalizer>
  <div class="medium-12 columns">
    <br/>
    <h2 class="francois text-uppercase text-center">Projetos em votação</h2>
  </div>
</div>

<% @proposals.in_groups_of(3, false) do |group| %> 
  <div class="row proposals" data-equalizer>
    <% group.each do |proposal| %>
      <div class="medium-4 columns proposal-wrapper end" data-equalizer-watch>
        <div class="proposal">
          <div class="image">
            <%= image_tag proposal.image %>
            <h5 class="francois"><%= proposal.title %></h5>
          </div>
          <p><%= truncate(proposal.description, length: 200) %></p>
          <div class="actions">
            <%= link_to "Ver mais", proposal_path(proposal), class: 'see-more' %>
            <%= link_to "Selecionar", proposal_path(proposal), class: 'select-proposal' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %> 
<br/><br/><br/>
<br/><br/><br/>


<div class="fixed-save">
  <div class="row">
    <div class="medium-4 small-4 columns">
      &nbsp;
      <!--<a href="/save" data-method="post" class="button" disabled>Concluir</a>-->
    </div>
    <div class="medium-4 small-4 columns counter text-center">
      <span class="selected-count">0</span>  de <span> 10</span>
    </div>
    <div class="medium-4 small-4 columns text-right">
      <a href="/save" data-method="post" class="button">Finalizar e salvar votos</a>
    </div>
  </div>
</div>
