
<div class="full-image" style="background: url('<%= @proposal.image %>') no-repeat; background-size: cover">
  <h3 class="francois text-uppercase"><%= @proposal.title %></h3>
</div>

<div class="row">

  </div>
  <div class="medium-7 medium-centered proposal-text columns">
    <p> <%= simple_format(@proposal.large_description) %></p>
    <div class="row">
        <div class="medium-6 medium-centered text-center columns">
          <%= link_to "Selecionar este projeto", '', class: 'select-proposal', data: { id: @proposal.id } %> 
          <br/><br/>
        </div>

        
    </div>
    <div class="row nav-actions">

      <div class="medium-4 small-4 text-center columns">
        <%= link_to proposal_path(@proposal.prev) do %>
          <%= image_tag 'previous.png' %>
          <span>Projeto anterior</span>
        <% end %>
      </div>

      <div class="medium-4 small-4 text-center columns">
        <%= link_to proposals_path do %>
          <%= image_tag 'home.png' %>
          <span>Ver todos os projetos</span>
        <% end %>
      </div>

      <div class="medium-4 small-4 text-center columns">
        <%= link_to proposal_path(@proposal.next) do %>
          <%= image_tag 'next.png' %>
          <span>Próximo projeto</span>
        <% end %>
      </div>
    </div>
  </div>

</div>


<br/><br/><br/>
<br/><br/><br/>


<div class="fixed-save">
  <div class="row">
    <div class="medium-4 small-4 columns">
      &nbsp;
      <!--<a href="/save" data-method="post" class="button" disabled>Concluir</a>-->
    </div>
    <div class="medium-4 small-4 columns counter text-center">
      <span class="selected-count">0</span>  de <span> 10</span>
    </div>
    <div class="medium-4 small-4 columns text-right">
      <%= form_for :proposals_users, html: { id: 'proposalForm' }, url: '/proposals/save', method: :post do |f| %>
        <span class="inputs"></span> 
        <%= f.button 'Finalizar e salvar votos', class: [:button, :submit] %>
      <% end %>
    </div>
  </div>
</div>


<div class="fixed-msg hide">
  <div class="row">
    <div class="medium-6 fixed-block text-center medium-centered columns">
      <h3 class="francois">Você votou em apenas <span class="selected-count">0</span> projetos. Você ainda pode votar em mais <span class="left-counter">10</span>.</h3> 
      <br/>
      <h5 class="francois">Deseja concluir mesmo assim? </h5>
      <p>
        <br/>
        <a href="#" class="close button">Voltar</a>&nbsp;
        <a href="#" class="save button">Continuar</a>
      </p>
    </div>
  </div>
</div>
