
<div class="full-image" style="background: url('<%= @proposal.image %>') no-repeat; background-size: cover">
  <h3 class="francois text-uppercase"><%= @proposal.title %></h3>
</div>

<div class="row">

  </div>
  <div class="medium-7 medium-centered proposal-text columns">
    <p> <%= simple_format(@proposal.large_description) %></p>
    <div class="row">
        <div class="medium-6 medium-centered text-center columns">
          <%= link_to "Selecionar este projeto", '', class: 'select-proposal', data: { id: @proposal.id } %> 
          <br/><br/>
        </div>

        
    </div>
    <div class="row">

      <div class="medium-4 small-4 text-center columns"><%= link_to 'Projeto anterior', proposal_path(@proposal.prev) %></div>
      <div class="medium-4 small-4 text-center columns"><%= link_to 'Ver todos os projetos', proposals_path %></div>
      <div class="medium-4 small-4 text-center columns"><%= link_to 'Próximo projeto', proposal_path(@proposal.next) %></div>
    </div>
  </div>

</div>


<br/><br/><br/>
<br/><br/><br/>


<div class="fixed-save">
  <div class="row">
    <div class="medium-4 small-4 columns">
      &nbsp;
      <!--<a href="/save" data-method="post" class="button" disabled>Concluir</a>-->
    </div>
    <div class="medium-4 small-4 columns counter text-center">
      <span class="selected-count">0</span>  de <span> 10</span>
    </div>
    <div class="medium-4 small-4 columns text-right">
      <a href="/save" data-method="post" class="button">Finalizar e salvar votos</a>
    </div>
  </div>
</div>
