<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Desafio Ágora Rio" %></title>

    <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Francois+One" %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if !current_page?(root_path) %>
    <div id="header">
      <div class="row">
        <div class="medium-8 small-7 columns logo">
          <%= link_to image_tag("logo.png"), root_path %>
        </div>

        <div class="medium-4 small-5 main-navigation columns end">
          <%= link_to 'Saiba mais', about_path %> 
        </div>
      </div>
    </div>
    <% else %>

    <div id="presentation">
      <div class="row">
        <div class="medium-6 medium-centered text-center columns">
          <%= link_to image_tag("logo.png"), root_path %>
          <p>
          A Prefeitura do Rio quer saber: quais dessas</br>  propostas você gostaria de ver na cidade?
          <br/> </br> Entre e vote em até 10 projetos</br>  para a mobilidade urbana carioca!
          </p>
          <%= link_to 'Votar', proposals_path, class: [:button, :francois] %>
        </div>
      </div>  
    </div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
