<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Desafio Ãgora Rio" %></title>

    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Francois+One" %>
    <%= stylesheet_link_tag    "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if !current_page?(root_path) %>
    <div id="header">
      <div class="row">
        <div class="medium-8 columns logo">
          <%= link_to image_tag("logo.png"), root_path %>
        </div>

        <div class="medium-4 main-navigation columns end">
          <%= link_to 'Entrar', new_user_session_path %> 
        </div>
      </div>
    </div>
    <% else %>

    <div id="presentation">
      <div class="row">
        <div class="medium-6 medium-centered text-center columns">
          <%= link_to image_tag("logo.png"), root_path %>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam lobortis felis eros, at commodo velit tempus sed. Cras vulputate ligula vel quam blandit fringilla. Praesent id justo rutrum, ornare dolor nec, luctus urna. Phasellus eget risus justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <%= link_to 'Entrar', proposals_path, class: :button %>
        </div>
      </div>  
    </div>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
