<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="header">
      <div class="row">
        <div class="medium-8 columns">
          <%= link_to image_tag("http://placehold.it/100x70"), root_path %>
        </div>

        <div class="medium-4 columns end">
          <%= link_to 'Entrar', new_user_session_path %> 
        </div>
      </div>
    </div>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
